.comments_container {
    padding: 1rem;

    summary {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    .comments_list {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        align-items: center;
        width: 100%;
        gap: 1rem;

        .comment {
            display: flex;
            gap: 10px;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;

            .comment_delete {
                background-color: #dc3545;
                color: white;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .comment_delete:hover {
                background-color: #c82333;
            }
        }
    }

    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .comment_content {
            width: 100%;
            height: 100px;
            resize: none;
        }

        button {
            padding: 0.5rem 1rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }
    }
}
