.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                cursor: pointer;
                transition: color 0.3s;
            }

            li:last-child {
                margin-left: auto;
            }

            li::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: black;
                transition: width 0.3s;
            }

            li:hover::after {
                width: 100%;
            }

            .active {
                color: #000;
                font-size: 1.1rem;
                font-weight: 900;
            }
        }
    }
}
