.my_posts {
    position: relative;
    padding: 20px;
    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .modal_container {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }
    }

    .posts_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;

        .post {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            padding: 20px;

            .post_title {
                font-size: 1.5rem;
            }

            .post_content {
                padding: 10px;
                margin: 20px 0;
            }

            .post_title,
            .post_content {
                transition: padding 0.3s ease;
            }

            .post_title[contenteditable="true"],
            .post_content[contenteditable="true"] {
                border: 1px solid black;
                padding: 10px;
                border-radius: 5px;
            }

            .error {
                color: red;
                font-size: 0.9rem;
                margin-top: 5px;
            }

            time {
                color: #6c757d;
                font-size: 0.9rem;
            }

            .post_actions {
                display: flex;
                justify-content: center;
                gap: 10px;
                padding-top: 20px;

                button,
                a {
                    background-color: #007bff;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                a:hover,
                button:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}
