<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link
            rel="stylesheet"
            href="/css/not_found.css"
        />
    </head>
    <body>
        <%- include('partials/header') %>
        <main class="not_found">
            <h1><%= message %></h1>
            <a href="/">Go back</a>
        </main>
    </body>
</html>
