<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Привет, мир!</h1>
        <p>Это моя первая страница на Express и EJS.</p>
    </body>
</html>
