<div class="post_actions">
    <button
        class="edit_post"
        data-id="<%= post.id %>"
    >
        Edit
    </button>
    <button
        class="delete_post"
        data-id="<%= post.id %>"
    >
        Delete
    </button>
</div>
