<form
    action="/auth/register"
    method="post"
    class="register_form"
>
    <div>
        <label for="register_email">Email</label>
        <input
            autocomplete="email"
            type="email"
            id="register_email"
            name="email"
            placeholder="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Please enter a valid email address."
            required
        />
        <p class="error_message"></p>
    </div>
    <div>
        <label for="register_password">Password</label>
        <input
            autocomplete="current-password"
            type="password"
            id="register_password"
            pattern="(?=.*[a-zA-Z])(?=.*[0-9]).{8,}"
            name="password"
            title="Password must contain at least one letter, one number, and be at least 8 characters long."
            placeholder="password"
            required
        />
        <p class="error_message"></p>
    </div>
    <button type="submit">Register</button>
</form>
